{port_envs, [{"darwin", "CFLAGS", "$CFLAGS -march=core2 -mmmx -msse3 -w -pipe -mmacosx-version-min=10.6 -I${HOME}/usr/include"}
             ,{"darwin", "LDFLAGS", "$LDFLAGS -levent -L/Users/nem/usr/lib"}
             ,{"linux", "LDFLAGS", "$LDFLAGS -levent"}
             ,{"DRV_LDFLAGS", ""}
             ]}.
{so_name, "bin/enet_tap"}.
{erl_opts, [debug_info]}.
{erl_first_files, [enet_codec]}.

{plugins, [pc]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.