{port_envs, [{"CFLAGS", "$CFLAGS -march=core2 -mmmx -msse3 -w -pipe -mmacosx-version-min=10.6 -I /Users/nem/usr/include"},
             {"LDFLAGS", "$LDFLAGS -levent -L/Users/nem/usr/lib"},
             {"DRV_LDFLAGS", ""},
             {"CC", "/Developer/usr/llvm-gcc-4.2/bin/llvm-gcc-4.2"}]}.
{so_name, "bin/enet_tap"}.
{erl_opts, [debug_info]}.
